@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #101010;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.hideScrollbar {
  scrollbar-width: none;
}
